<!-- templates/index.html -->
{% extends "base.html" %}
{% set active_page = "assignments" %}

{% block content %}
<div class="jumbotron">
	<!-- Here we give an example assignment card, follow this format to add more assignments-->
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Assignment 3 Title</h5>
			<h6 class="card-subtitle mb-2 text-muted">Example due date: 12/21/2020</h6>
			<p class="card-text">example description</p>
			<a href="{{url_for('main.assignment_1')}}" class="btn btn-primary">Assignment Details</a>
		</div>
	</div>
</div>
{% endblock %}