<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Homework Assignment Grading System">
	
	<title>Whiteboard</title>

	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet">

	<!-- fontawesome -->
	<script src="https://kit.fontawesome.com/4dc0d17132.js" crossorigin="anonymous"></script>

	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='stylesheets/dashboard.css') }}" rel="stylesheet">
	
  <body>
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="url_for{'main.dashboard'}">Whiteboard</a>
	  
	  <ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap">
		  <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a>
		</li>
	  </ul>
	</nav>

	<div class="container-fluid content">
	  <div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
		  <div class="sidebar-sticky">
			<ul class="nav flex-column">
			  <li class="nav-item">
				<a class="nav-link {{'active' if active_page == 'dashboard' else ''}}" href="{{url_for('main.dashboard')}}">
					<i class="fas fa-home"></i>
					Dashboard 
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link {{'active' if active_page == 'assignments' else ''}}" href="{{url_for('main.assignments')}}">
					<i class="far fa-folder"></i>
					Assignments
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link {{'active' if active_page == 'gradebook' else ''}}" href="{{url_for('main.gradebook')}}">
					<i class="far fa-clipboard"></i>
					Grades
				</a>
			  </li>
			</ul>
		  </div>
		</nav>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
			{% block content %}
			{% endblock %}
		</main>
	  </div>
	</div>

	<script src="{{url_for('static', filename='javascripts/jquery-3.3.1.slim.min.js')}}"></script>
	<script src="{{url_for('static', filename='javascripts/bootstrap.bundle.min.js')}}"></script>
</body>
</html>