{% extends "base.html" %}
{% set active_page = "dashboard" %}

{% block content %}
<div class="jumbotron">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Assignment 3 is out.</h5>
            <h6 class="card-subtitle mb-2 text-muted">12/12/2020</h6>
            <p class="card-text">Assignment 3 is out.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Assignment 2 is out.</h5>
            <h6 class="card-subtitle mb-2 text-muted">12/11/2020</h6>
            <p class="card-text">Assignment 2 is out.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Grades for assignment 1 is out.</h5>
            <h6 class="card-subtitle mb-2 text-muted">12/10/2020</h6>
            <p class="card-text">Grades for assignment 1 is out.</p>
        </div>
    </div>
</div>
{% endblock %}